.events__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgb(211, 37, 196);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events__list-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: rgb(231, 40, 215);
}

.events__list-item h3 {
  margin: 0.3rem 0;
  font-size: 0.8rem;
  color: rgb(78, 76, 78);
}

.events__list-item p {
  margin: 0;
}
