body {
  margin: 0;
  font-family: sans-serif;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input {
  padding: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button,
.btn {
  background: rgb(60, 61, 61);
  font: inherit;
  border: 2px solid rgb(148, 143, 143);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: rgb(24, 23, 23);
  color: rgb(224, 58, 216);
}
